*{
    font-family: 'Roboto';
    box-sizing: border-box;
    --bg-color: #181820;
    --font-white: white;
    --font-pink: #FA439B;
}

body{
    background-color: var(--bg-color);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.title{
    text-align: center;
    margin-top: 30px;
    font-size: 3rem;
    color: var(--font-pink);
    font-weight: 700;
}

article > .title {
    margin-top: 0;
    font-size: 2rem;
    font-weight: 500;
}

.subtitle{
    color: var(--font-pink);
    font-size: 1.5rem;
    text-align: center;
}

article{
    gap: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 800px;
    height: inherit;
    border-radius: 5px;
    padding: 20px;
    background: rgba(255,255,255,0.1)
}

li, p{
    color: var(--font-white);
    font-size: 1.1rem;
    line-height: 1.3rem;
}

li{
    margin-top: 20px;
}

p{
    text-align: justify;
}

ul{
    padding: 0 20px;
    list-style: none;
}

ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: var(--font-white); /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 0.7em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; 
}

b{
    color: var(--font-pink);
}

button{
    height: 3rem;
    width: 15rem;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 50px;
    border: 4px solid var(--font-pink);
    background: rgba(255,255,255,0.1);
    color: var(--font-white);
    font-family: 'Roboto';
    font-size: 1.1rem;
}

button:hover{
    cursor: pointer;
}

.double-list{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

.double-list li{
    width: 250px;
}

.disabled {
    display: none;
}

.animation-window{
    position: fixed;
    top: 100vh;
    bottom: 0;
    width: 100%;
    z-index: 100;
    background-color: var(--bg-color);
    animation-name: animation-up;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.animation-down-class{
    animation-name: animation-down;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.pink-div{
    width: 200px;
    height: 200px;
    border: 5px solid var(--font-pink);
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pink-div > div {
    cursor: pointer;
    width: 75%;
    height: 50%;
    border: 5px solid var(--font-white);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.pink-div > div:hover{
    transform: scale(1.1);
}

.pink-div > div > p{
    text-align: center;
}

.fade{
    animation: fade-in 1s;
    animation-fill-mode: forwards;
}

@keyframes fade-in{
    from{opacity: 0;}
    to{opacity: 1;}
}

@keyframes animation-up {
    from {top: 100vh;}
    to {top: 5rem;}
}

@keyframes animation-down {
    from {top: 5rem;}
    to {top: 100vh;}
}